@{
    ViewBag.Title = "Search";
}

<form method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" id="queryId" placeholder="Query">
        </div>

        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block mb-2">Search</button>
        </div>
    </div>
</form>