.no-radius {
    border-radius: 0;
}

.card {
    overflow: hidden;
}

.card-bg {
    position: absolute;
    top: -8px;
    bottom: -8px;
    right: -8px;
    left: -8px;
    background-size: cover;
    background-position: center;
    opacity: .15;
    filter: blur(4px);
}